{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="hero">
  <div class="hero-text">
  <h1>FIND MATES FOR YOUR BEST FRIEND!</h1>
  </div>
</div>
<div class="second-block">
  <div class="second-block-img">
  </div>
  <div class="second-block-text">
  <p>Find fun events and meet new dogs <br />
    to have a nice playday!</p>
  <button><p><a href="/events/list"> See events</a></p></button>
  </div>
</div>