<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
      <nav>
        <a href="/">Home</a>
        {{#if user}}
          <a href="#">See Users</a>
          <a href="/event/list">See Events</a>
          <a href="/event/create">Create Event</a>
          <a href="/user/profile">My Profile</a>
          <form action="/authentication/sign-out" method="POST">
            <button>Sign Out</button>
          </form>
        {{else}}
          <a href="/event/list">See Events</a>
          <a href="/authentication/sign-in">Sign In</a>
          <a href="/authentication/sign-up">Sign Up</a>
        {{/if}}
      </nav>
    </div>
    <div class="main">
      {{{body}}}
    </div>
    <footer>
      Doggy Playdates © 2020 - Developed by Cris and Karen H.
    </footer>
    <script src="/scripts/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
