<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  </head>
  <body>
    <div class="menu">
      <nav>
       <a href="/"><img src="/images/logo_dpp.png" alt=""></a>
        {{#if user}}
          <a href="/user/list">See Users</a>
          <a href="/event/list">See Events</a>
          <a href="/event/create">Create Event</a>
          <a href="/user/profile">My Profile</a>
          <form action="/authentication/sign-out" method="POST">
            <button>Sign Out</button>
          </form>
        {{else}}
          <a href="/event/list">See Events</a>
          <a href="/authentication/sign-in">Sign In</a>
          <a href="/authentication/sign-up">Sign Up</a>
        {{/if}}
      </nav>
    </div>
    <div class="main">
      {{{body}}}
    </div>
    <footer>
      Doggy Playdates © 2020 - Developed by Cris and Karen H.
    </footer>
    <script src="/scripts/jquery/jquery-3.5.1.min.js"></script>
    <script src="/scripts/popper/popper.min.js"></script>
    <script src="/scripts/bootstrap/bootstrap.min.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
