<h1>{{user.name}}</h1>

<form method="POST">
  <label for="picture-input">Picture</label>
  <input type="file" id="picture-input" name="picture">
  <button>Save</button>
</form>
<h2></h2>
<h2>{{user.email}}</h2>
{{#each user.dogs}}
<h2>{{name}}</h2>
<h2>{{breed.breed}}</h2>
{{/each}}
