$font-sans: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$grey: hsla(0, 0, 75%, 0.5);
$orange: #ff7d2a;
$bg-color: #ebded3;
$minMain: calc(100vh - 130px);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
  max-width: 100vw;
}

body {
  // max-width: 52em;
  padding: 0;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: $font-sans;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  min-height: $minMain;
  margin-top: 80px;
  min-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  color: $orange;
}

.menu {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: -1px 7px 6px -7px rgba(0, 0, 0, 0.91);
  position: fixed;
  z-index: 999;
  nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 80px 0 40px;
    img {
      width: 60px;
      height: 60px;
    }
    a,
    button {
      font-size: 1.2em;
      color: black;
      padding: 1em 0;
      border: 0;
      width: auto;
      height: auto;
      margin: 0;
      &:not(:last-child) {
        margin-right: 1em;
      }
      &:first-child {
        margin-right: auto;
      }
      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
  }
}

footer {
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
button,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  margin-bottom: 1em;
  width: 32em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
  background-color: white;
}

input {
  background-color: rgba($color: #fff, $alpha: 0.7);
}

#map-container {
  width: 50vw;
  height: 30em;
}

.carousel-item {
  img {
    width: 100vw;
    height: $minMain;
    object-fit: cover;
  }
  .carousel-caption {
    bottom: 60px;
  }
  button {
    width: 400px;
    background-color: rgba($color: #fff, $alpha: 0.7);
    a:hover {
      color: white;
      text-decoration: none;
    }
    a {
      font-size: 1.2em;
      color: black;
    }
  }
}

/*.hero {
  width: 100vw;
  height: 800px;
  margin-top: 20px;
  background-image: url('/images/hero-image2.jpg');
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .hero-text {
    display: flex;
  }
  h1 {
    font-size: 4em;
    font-weight: 200;
    color: white;
  }
}
.second-block {
  width: 100vw;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  p {
    font-size: 2em;
    line-height: 1.4em;
  }
  .second-block-img {
    width: 700px;
    height: 600px;
    background-image: url('/images/dogs-playing.jpg');
    background-size: cover;
  }
  .second-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: inherit;
    padding-right: 20em;
    button {
      width: 400px;
      background-color: $orange;
      margin-top: 5em;
      p {
        font-size: 1.5em;
      }
    }
  }
}*/

.form-container {
  width: 100vw;
  height: $minMain;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/sign-in-bg.jpg');
  background-size: cover;
  background-color: gainsboro;

  form {
    padding: 5em;
    background-color: white;
    box-shadow: 4px 3px 8px -2px rgba(0, 0, 0, 0.91);
  }
  button {
    background-color: $orange;
  }
}

.sign-up-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/sign-up-bg.jpg');
  background-size: cover;
  form {
    margin: 1em;
    padding: 5em;
    background-color: white;
    box-shadow: 4px 3px 8px -2px rgba(0, 0, 0, 0.91);
    input {
      width: 600px;
    }
    select {
      width: 600px;
      padding: 1em;
      border: 1px solid $grey;
      border-radius: 0;
      font-family: $font-sans;
      margin-bottom: 0.5rem;
    }
  }
  button {
    background-color: $orange;
    display: flex;
    align-self: center;
    justify-content: center;
  }
}

.profile-container {
  width: 100vw;
  min-height: $minMain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  //background-color: $grey;
  .form-picture {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
    }
    form {
      width: 200px;
    }
    input {
      width: 200px;
      font-size: 0.8em;
    }
    button {
      width: 100px;
      height: 30px;
      font-size: 0.8em;
      padding: 0.2em;
      background-color: $orange;
    }
  }
  .user-data {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 3em;
      font-weight: 700;
      margin: 0;
    }
    .pets-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      form {
        width: 40px;
        height: 40px;
      }
      .btn-style {
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
      }
    }
  }
  .pet-card {
    min-width: 200px;
    max-width: 200px;
    max-height: 300px;
    background-color: $orange;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 20px;
    margin-right: 20px;
    img {
      width: 200px;
      height: 150px;
      border-radius: 2px;
      object-fit: cover;
    }
    h3 {
      margin: 0;
      font-weight: 700;
    }
    p {
      margin-bottom: 0;
    }
    a {
      z-index: 1;
    }
    .edit-delete-btns {
      display: flex;
      min-width: 200px;
      max-width: 220px;
      margin-left: 20px;
    }
    i {
      color: white;
    }

    &.add {
      display: flex;
      align-items: center;
      background-color: white;
      border: solid 1px $orange;
      form {
        width: 200px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &:hover {
            color: grey;
            text-decoration: none;
          }
        }
      }
      i {
        font-size: 3em;
        margin-top: 10px;
        color: $orange;
      }
    }
  }

  .row-container {
    display: flex;
    //background-color: white;
    //box-shadow: 4px 3px 8px -2px rgba(0, 0, 0, 0.91);
    padding: 2em;
    width: 90vw;
  }
}

.event-card-list {
  width: 350px;
  box-shadow: 4px 3px 8px -2px rgba(0, 0, 0, 0.91);
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 0;
  border-radius: 5px;
  img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  h1 {
    font-weight: 700;
    margin: 0;
  }
  h4 {
    margin-top: 0;
  }
  .event-name-description {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .description-text {
      height: 90px;
      overflow: hidden;
      text-overflow: clip;
    }
    .dates {
      margin-top: 30px;
      line-height: normal;
      i {
        padding: 5px;
      }
    }
  }
  .event-details {
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-size: smaller;
    padding: 1em;
  }
  .column-container {
    display: flex;
    flex-direction: column;
  }
}

.event-list {
  width: 100%;
  padding-top: 20px;

  .items {
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      input {
        width: 400px;
      }
    }
    button {
      width: 400px;
      margin-bottom: 5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .first-section {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }

  .second-section {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    a {
      color: $orange;
      align-self: flex-end;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}

.create-dog-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  form {
    width: 60vw;
    .dog-size {
      display: flex;
      justify-content: space-around;
      div {
        min-width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    select {
      width: auto;
      padding: 1em;
      border: 1px solid $grey;
      border-radius: 0;
      font-family: $font-sans;
      margin-bottom: 0.5rem;
    }
    input {
      width: auto;
    }

    button {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      background-color: $orange;
      &:hover {
        background-color: white;
      }
    }
  }
}

.create-event {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: $orange;
    &:hover {
      background-color: white;
    }
  }
  select {
    width: auto;
    padding: 1em;
    border: 1px solid $grey;
    border-radius: 0;
    font-family: $font-sans;
    margin-bottom: 0.5rem;
  }
  textarea,
  input {
    width: auto;
  }
}

.single-event-container {
  width: 100vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .event-card-single {
    width: 600px;
    .btn-orange {
      background-color: $orange;
    }
  }
  img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  .first-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 50px;
    .dates {
      display: flex;
      justify-content: flex-start;
      p {
        margin-right: 20px;
        i {
          margin-right: 5px;
        }
      }
    }
  }
  .second-section {
    display: flex;
    flex-direction: row;
    background-color: $grey;
    .comments-section {
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      margin-right: 100px;
      margin-left: 40px;
      //background-color: $grey;
      textarea {
        background-color: white;
      }
      button {
        background-color: $orange;
        &:hover {
          background-color: white;
        }
      }
      li {
        list-style: none;
      }
      .single-comment {
        padding: 10px;
        p {
          background-color: rgba($color: #fff, $alpha: 0.7);
          margin: 0;
          padding: 10px;
          width: 600px;
        }
      }
    }
    .participants-section {
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 150px;
          display: flex;
          align-items: center;
          margin-right: 10px;
          line-height: normal;
        }
      }
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        margin-right: 5px;
      }
    }
  }
  .map {
    display: flex;
    flex-direction: column;
    .join-event-btn {
      display: flex;
      align-self: center;
      justify-self: center;
      background-color: $orange;
    }
    form {
      height: 200px;
      justify-content: center;
    }
  }
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    img {
      width: 400px;
      height: 300px;
      object-fit: cover;
    }
    .user-data {
      display: flex;
      flex-direction: column;
      button {
        background-color: $orange;
      }
    }
    .user-picture {
      display: flex;
      flex-direction: column;
      input {
        width: 400px;
      }
    }
  }
}

.public-profile-container {
  width: 100%;
  min-height: $minMain;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .user-profile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    padding: 20px 10px 0 10px;
    background-color: $grey;
    width: 350px;
    line-height: normal;
    text-align: center;
    img {
      width: 150px;
      height: 150px;
      border-radius: 200px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    h3 {
      padding: 0;
      margin: 0;
    }
  }
  .dogs-section {
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    ul {
      display: flex;
      flex-wrap: wrap;
      .dog-profile {
        max-width: 500px;
        margin-right: 20px;
        .dog-img-text {
          background-color: $grey;
          padding: 5px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          .dog-text {
            display: flex;
            flex-direction: column;
          }
        }
        img {
          width: 300px;
          height: 300px;
          padding: 10px;
          object-fit: cover;
        }
        li {
          list-style: none;
        }
        h3 {
          font-weight: 600;
          padding: 10px;
        }
      }
    }
  }
}

.list-users-container {
  width: 100%;
  min-height: $minMain;
  display: flex;
  flex-wrap: wrap;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  .user-card-list {
    padding: 10px;
    background-color: $grey;
    margin: 10px;
    width: 450px;
    border-radius: 20px;

    .photo-text-user {
      display: flex;
      flex-direction: column-reverse;
    }
    ul {
      display: flex;
      li {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .dog-data {
    display: flex;
    flex-direction: column;
    p {
      margin: 10px 0;
    }
    li {
      margin-right: 10px;
      text-align: center;
    }
  }
}

.form-default {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: $orange;
    &:hover {
      background-color: white;
    }
  }
  select {
    width: auto;
    padding: 1em;
    border: 1px solid $grey;
    border-radius: 0;
    font-family: $font-sans;
    margin-bottom: 0.5rem;
  }
  textarea,
  input {
    width: auto;
  }
}