<div class="create-dog-container">
  <h1>Edit Dog Profile</h1>

  <img src="" alt="">
  <form action="/dog/create" method="POST" enctype="multipart/form-data">

    <label for="picture-input">Picture</label>
    <input type="file" id="picture-input" name="photo">

    <input type="text" id="dog-name-input" name="name" placeholder="Dog Name">

    <div class="dog-size">
      <div>
        <input type="radio" id="xs-size" name="size" value="extraSmall">
        <label for="xs-size">Extra Small (6-9 inches)</label>
      </div>
      <div>
        <input type="radio" id="s-size" name="size" value="small">
        <label for="s-size">Small (8-12 inches)</label>
      </div>
      <div> 
        <input type="radio" id="m-size" name="size" value="medium">
        <label for="m-size">Medium (14-18 inches)</label>
      </div>
      <div> 
        <input type="radio" id="l-size" name="size" value="large">
        <label for="l-size">Large  (20-24 inches)</label>
      </div>
      <div> 
        <input type="radio" id="xl-size" name="size" value="extraLarge">
        <label for="xl-size">Extra Large  (22-26 inches)</label>
      </div>
    </div>
    <select name="breed">
      <option value="">Select a breed</option>
      {{#each breeds}} 
        <option value='{{_id}}'>{{breed}}</option> 
      {{/each}} 
    </select>

    <select name="personality">
      <option value="">Select your dog's personality</option>
      <option value="friendly">Friendly</option>
      <option value="shy">Shy</option>
      <option value="independent">Independent</option>
      <option value="marshmallow">Marshmallow (easy to handle)</option>
      <option value="hardToHandle">Hard to Handle</option>
    </select>

    <button>Submit </button>
  </form>
</div>