<h1>Create a New Event</h1>

<form action="" method="POST" >
  <label for="create-event">Event Title</label>
  <input required id="create-event" type="text" name="title" placeholder="Event Title">

  <label for="event-description">Event Description</label>
  <textarea required id="event-description" name="description" placeholder="Event Description"></textarea>

  <label for="event-start">Enter the Start Date and Time of your Event</label>
  <input required id="event-start" type="datetime-local" name="date" placeholder="Event Start Date and Time">

  <label for="event-end">Enter the End Date and Time of your Event</label>
  <input required id="event-end" type="datetime-local" name="endDate" placeholder="Event End Date and Time">

  <label for="select-latitude">Latitude</label>
  <input required id="select-latitude" type="text" name="latitude" placeholder="Latitude">

  <label for="select-longitude">Longitude</label>
  <input required id="select-longitude" type="text" name="longitude" placeholder="Longitude"> 

  <button>Create Event</button>
</form>

