<div class="event-list">

  <h1>Event list</h1>
  <div class="first-section">
    <div id="map-container"></div>
    <div class="items">
      <button id="user-location" class="locate-user">Locate Me</button>
      <form action="/event/search" onsubmit="return validateForm()">
        <input required id="user-latitude-input" type="hidden" name="userLatitude" placeholder="Your Latitude">
        <input required id="user-longitude-input" type="hidden" name="userLongitude" placeholder="Your Longitude">
        <label for="distance-input">Distance (km)</label>
        <input required id="distance-input" type="number" min="0" max="500" name="distance" placeholder="Distance">
        <button class="locate-user">Search Events near Me</button>
      </form>
    </div>
  </div>

  <div class="second-section">
    <ul>
      {{#if user}}
      {{#each events}}
        {{> eventitem }}
          <a href="/event/{{_id}}">More Details...</a>
      {{/each}}
      {{else}}
      {{#each (restrictList events 2)}}
        {{> eventitem }}
          <a href="/event/{{_id}}">More Details...</a>
      {{/each}}
      {{/if}}
    </ul>
  </div>
</div>


<script>

  const $userLocation = document.getElementById('user-location');
  const $inputLatitude = document.getElementById('user-latitude-input');
  const $inputLongitude = document.getElementById('user-longitude-input');  

  function validateForm() {
    if ($inputLatitude.value === '' || $inputLongitude.value === '') {
      alert(`Please let us know where your are by clicking on the 'Locate Me' button`);
      return false;
    } else {
      return true;
    }
  }

  let map;
  let marker;
  const markers = [];


  function initMap() {
    const events = {{{json events}}};    
    const $mapContainer = document.getElementById('map-container');

    map = new window.google.maps.Map($mapContainer, {
      center: {lat: 38.74, lng: -9.14 },
      zoom: 10
    });

    for (let event of events) {
      addMarker( {lat: event.location.coordinates[1], lng: event.location.coordinates[0]} , 'red' );
      marker.addListener('click', () => {
        const endpoint = `${event._id}`;
        window.location = endpoint;
      })
    };  
  }

  function addMarker(latLng, color) {
    let url = "http://maps.google.com/mapfiles/ms/icons/";
    url += color + "-dot.png";

    marker = new google.maps.Marker({
      map: map,
      position: latLng,
      icon: {
        url: url
      }
    });
    markers.push(marker);
  }

  $userLocation.addEventListener('click', () => {
    
    navigator.geolocation.getCurrentPosition(result => {
      userLatitude = result.coords.latitude;
      userLongitude = result.coords.longitude;
      addMarker( {lat: userLatitude, lng: userLongitude} , 'green');
      $inputLatitude.value = Number(userLatitude);
      $inputLongitude.value = Number(userLongitude);
      console.log($inputLatitude.value)
    }, error => {
      console.log(error);
    });
  })

</script>

{{> mapscript}}